aioconsole==0.2.1
aiohttp==3.6.2
aioopenssl==0.5.1
aiosasl==0.4.1
aioxmpp==0.11.0
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
dnspython==1.16.0
fortnitepy==2.2.1
idna==2.10
lxml==4.5.1
multidict==4.7.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pytz==2020.1
six==1.15.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
tzlocal==1.5.1
yarl==1.4.2
